In [59]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 01 01','2018 01 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180101_180131.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [60]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 02 01','2018 02 27'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180201_180227.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2592 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2592 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [61]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 03 01','2018 03 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180301_180331.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [62]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 04 01','2018 04 30'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180401_180430.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [63]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 05 01','2018 05 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180501_180531.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [64]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 06 01','2018 06 30'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180601_180630.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [65]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 07 01','2018 07 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180701_180731.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [66]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 08 01','2018 08 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180801_180831.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [67]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 09 01','2018 09 30'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_180901_180930.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2880 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [68]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 10 01','2018 10 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_181001_181031.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [71]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2015 12 01','2015 12 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_151101_151231.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [70]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2018 12 01','2018 12 31'],table='events',coverage=True,translation=False) #날짜 지정하기, 15일내로()

data = results.copy()
data = data[['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor2Code', 'AvgTone','GoldsteinScale', 'CAMEOCodeDescription','NumArticles']]
cond = ['JPN', 'RUS']
data = data[data['Actor1Code'].isin(set(cond))]
data = data[data['Actor2Code'].isin(set(cond))]
value_list = data.values.tolist()

f = open('gdelt_181201_181231.txt', 'w') #저장할 파일명 변경
for i in value_list:
    i = str(i)
    f.write(i+'\n')
f.close()

c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)
c:\Users\yukir\anaconda3\envs\gdelt\lib\site-packages\gdelt\dateFuncs.py:241: UserWarning: This query will download 2976 files, and likely exhaust your memory with possibly 10s of GBs of data in this single query.Hit Ctr-C to kill this query if you do not want to continue.
  warnings.warn(warnText)

In [1]:
import pandas as pd

In [38]:
data = pd.read_excel("C:\\Users\\yukir\\Desktop\\gdelt_v1+v2+total.xlsx", sheet_name="Total", index_col=0)
data

C:\Users\yukir\AppData\Local\Temp\ipykernel_27592\713988494.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  data = pd.read_excel("C:\\Users\\yukir\\Desktop\\gdelt_v1+v2+total.xlsx", sheet_name="Total", index_col=0)

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
1988.0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN
2741.0,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN
2742.0,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN
2850.0,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN
2851.0,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
NaN,2022-08-31,JPN,RUS,NaN,not spec below,Engage in material cooperation,6.0,NaN,-1.492537
NaN,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-1.880942
NaN,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-3.433476
NaN,2022-08-31,RUS,JPN,NaN,not specified below,Appeal,3.0,NaN,-0.328407
NaN,2022-08-31,JPN,RUS,NaN,not specified below,Appeal,3.0,NaN,-2.857143

In [42]:
df = data.copy()
df = df.reset_index()
df = df.drop(columns='index')
df

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN
1,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN
2,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN
3,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN
4,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,Engage in material cooperation,6.0,NaN,-1.492537
95646,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-1.880942
95647,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-3.433476
95648,2022-08-31,RUS,JPN,NaN,not specified below,Appeal,3.0,NaN,-0.328407
95649,2022-08-31,JPN,RUS,NaN,not specified below,Appeal,3.0,NaN,-2.857143

In [47]:
df.isnull().sum()

Date            42
Actor1          42
Actor2          42
NumEvents    49924
NumArts         42
CAMEOCode       42
Goldstein       51
G.S Aveg     95644
avgtone      45768
dtype: int64

In [46]:
import numpy as np
df = df.fillna(np.nan)

In [50]:
df = df[~df['Actor1'].isnull()]
df

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN
1,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN
2,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN
3,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN
4,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,Engage in material cooperation,6.0,NaN,-1.492537
95646,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-1.880942
95647,2022-08-31,RUS,JPN,NaN,not specified below,Make statement,0.0,NaN,-3.433476
95648,2022-08-31,RUS,JPN,NaN,not specified below,Appeal,3.0,NaN,-0.328407
95649,2022-08-31,JPN,RUS,NaN,not specified below,Appeal,3.0,NaN,-2.857143

In [73]:
cameo = pd.read_excel('카메오.xlsx')
cameo

     codes                                              cameo
0        1                              MAKE PUBLIC STATEMENT
1       10                Make statement, not specified below
2       11                                    Decline comment
3       12                           Make pessimistic comment
4       13                            Make optimistic comment
..     ...                                                ...
305    202                            Engage in mass killings
306    203                         Engage in ethnic cleansing
307    204  Use weapons of mass destruction, not specified...
308   2041   Use chemical, biological, or radiologicalweapons
309   2042                           Detonate nuclear weapons

[310 rows x 2 columns]

In [74]:
def lower_strip(x):
    x = str(x)
    x = x.lower()
    x = x.strip()

    return x

In [75]:
df['CAMEOCode'] = df['CAMEOCode'].apply(lower_strip)
cameo['cameo'] = cameo['cameo'].apply(lower_strip)

C:\Users\yukir\AppData\Local\Temp\ipykernel_27592\441288556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CAMEOCode'] = df['CAMEOCode'].apply(lower_strip)

In [76]:
v1 = df[:45726]
v2 = df[45726:]

In [79]:
cameo = cameo.rename(columns={'cameo':"CAMEOCode"})
# cameo = cameo.drop(columns='index')
cameo.head()

   codes                            CAMEOCode
0      1                make public statement
1     10  make statement, not specified below
2     11                      decline comment
3     12             make pessimistic comment
4     13              make optimistic comment

In [80]:
v2

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
45726,2014-02-21,JPN,RUS,NaN,2,cooperate economically,6.4,NaN,-1.020408
45727,2014-02-21,JPN,RUS,NaN,8,cooperate economically,6.4,NaN,-1.020408
45728,2014-03-05,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-1.892430
45729,2014-03-06,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-2.048780
45730,2014-03-07,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-1.866405
...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,engage in material cooperation,6.0,NaN,-1.492537
95646,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-1.880942
95647,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-3.433476
95648,2022-08-31,RUS,JPN,NaN,not specified below,appeal,3.0,NaN,-0.328407
95649,2022-08-31,JPN,RUS,NaN,not specified below,appeal,3.0,NaN,-2.857143

In [85]:
print(v2.shape)
v2_cameo = v2.merge(cameo, on=['CAMEOCode'], how='outer')
v2_cameo = v2_cameo[~v2_cameo['Actor1'].isnull()]
print(v2_cameo.shape)
v2_cameo

(49882, 9)
(49882, 10)

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone,codes
0,2014-02-21,JPN,RUS,NaN,2,cooperate economically,6.4,NaN,-1.020408,61.0
1,2014-02-21,JPN,RUS,NaN,8,cooperate economically,6.4,NaN,-1.020408,61.0
2,2014-05-04,JPN,RUS,NaN,2,cooperate economically,6.4,NaN,-2.493766,61.0
3,2014-05-04,JPN,RUS,NaN,6,cooperate economically,6.4,NaN,-2.493766,61.0
4,2014-05-06,JPN,RUS,NaN,10,cooperate economically,6.4,NaN,-5.859375,61.0
...,...,...,...,...,...,...,...,...,...,...
49877,2022-08-14,JPN,RUS,NaN,2,no description returned for cameo code 0256,-0.3,NaN,-2.857143,NaN
49878,2022-04-09,JPN,RUS,NaN,1,threaten to reduce or break relations,-5.8,NaN,-6.568712,1313.0
49879,2022-04-28,JPN,RUS,NaN,4,threaten to reduce or break relations,-5.8,NaN,-1.879699,1313.0
49880,2022-07-09,JPN,RUS,NaN,1,attempt to assassinate,-8.0,NaN,-6.258322,185.0
49881,2022-08-01,RUS,JPN,NaN,2,express intent to provide military protection ...,6.0,NaN,-1.420959,334.0

In [86]:
v1

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN
1,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN
2,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN
3,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN
4,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
45721,2014-02-14,RUS,JPN,2.0,6,841,7.0,NaN,NaN
45722,2014-02-14,RUS,JPN,3.0,30,164,-7.0,NaN,NaN
45723,2014-02-15,JPN,RUS,1.0,2,10,0.0,NaN,NaN
45724,2014-02-15,JPN,RUS,2.0,30,61,6.4,NaN,NaN
45725,2014-02-15,JPN,RUS,2.0,2,193,-10.0,NaN,NaN

In [89]:
v2_cameo = v2_cameo.drop(columns='CAMEOCode')
v2_cameo = v2.rename(columns={'codes':'CAMEOCode'})
v2_cameo

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
45726,2014-02-21,JPN,RUS,NaN,2,cooperate economically,6.4,NaN,-1.020408
45727,2014-02-21,JPN,RUS,NaN,8,cooperate economically,6.4,NaN,-1.020408
45728,2014-03-05,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-1.892430
45729,2014-03-06,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-2.048780
45730,2014-03-07,RUS,JPN,NaN,not specified below,yield,5.0,NaN,-1.866405
...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,engage in material cooperation,6.0,NaN,-1.492537
95646,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-1.880942
95647,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-3.433476
95648,2022-08-31,RUS,JPN,NaN,not specified below,appeal,3.0,NaN,-0.328407
95649,2022-08-31,JPN,RUS,NaN,not specified below,appeal,3.0,NaN,-2.857143

In [92]:
print(v2_cameo.shape)
total = v1.append(v2_cameo)
total

(49882, 9)

C:\Users\yukir\AppData\Local\Temp\ipykernel_27592\365342143.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = v1.append(v2_cameo)

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone
0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN
1,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN
2,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN
3,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN
4,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,engage in material cooperation,6.0,NaN,-1.492537
95646,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-1.880942
95647,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-3.433476
95648,2022-08-31,RUS,JPN,NaN,not specified below,appeal,3.0,NaN,-0.328407
95649,2022-08-31,JPN,RUS,NaN,not specified below,appeal,3.0,NaN,-2.857143

In [93]:
df.shape

(95608, 9)

In [94]:
import datetime

In [95]:
df['Year'] = df['Date'].dt.year

C:\Users\yukir\AppData\Local\Temp\ipykernel_27592\67054256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Date'].dt.year

In [96]:

df

,Date,Actor1,Actor2,NumEvents,NumArts,CAMEOCode,Goldstein,G.S Aveg,avgtone,Year
0,1979-01-05,JPN,RUS,1.0,8,20,3.0,NaN,NaN,1979
1,1979-01-07,JPN,RUS,2.0,8,42,1.9,NaN,NaN,1979
2,1979-01-07,JPN,RUS,2.0,8,120,-4.0,NaN,NaN,1979
3,1979-01-07,RUS,JPN,2.0,8,43,2.8,NaN,NaN,1979
4,1979-01-07,RUS,JPN,1.0,6,75,7.0,NaN,NaN,1979
...,...,...,...,...,...,...,...,...,...,...
95645,2022-08-31,JPN,RUS,NaN,not spec below,engage in material cooperation,6.0,NaN,-1.492537,2022
95646,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-1.880942,2022
95647,2022-08-31,RUS,JPN,NaN,not specified below,make statement,0.0,NaN,-3.433476,2022
95648,2022-08-31,RUS,JPN,NaN,not specified below,appeal,3.0,NaN,-0.328407,2022
95649,2022-08-31,JPN,RUS,NaN,not specified below,appeal,3.0,NaN,-2.857143,2022

In [110]:
v1['avgtone'].unique()

array([nan])

In [114]:
v2['Year'] = v2['Date'].dt.year

C:\Users\yukir\AppData\Local\Temp\ipykernel_27592\2184608861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v2['Year'] = v2['Date'].dt.year

In [115]:
pd.DataFrame(v2.groupby(['Year'])['avgtone'].mean()).to_excel('v2_mean_avgtone.xlsx')

In [118]:
v2['Year'].unique()

array([2014, 2015, 2005, 2016, 2006, 2017, 2007, 2018, 2019, 1920, 2020,
       2021, 2022, 2012], dtype=int64)

In [105]:
df.to_excel('Total_gdelt.xlsx')

In [ ]:
df.groupby['']